option_settings:
  aws:elasticbeanstalk:application:environment:
    STORAGE_BACKEND: s3
    S3_BUCKET: indexdb-data
    AWS_REGION: us-east-1
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
